[submodule "loader-neoforge/src/api/java/org/cyclops/commoncapabilities/api"]
	path = loader-neoforge/src/api/java/org/cyclops/commoncapabilities/api
	url = https://github.com/CyclopsMC/CommonCapabilitiesAPI.git
